
.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* GLOW EFFECT */
.glow-salary {
  box-shadow: 0 0 0 rgba(16, 185, 129, 0.4);
  animation: glow 2.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.3);
  }
  to {
    box-shadow: 0 0 30px rgba(16, 185, 129, 0.6);
  }
}

